.resultTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}
.resultTable td {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.resultTable th {
    border: 1px solid #ccc;
    padding: 0.5rem;
    background-color: #ccc;
}

.gridContainer {
    height: 100%;
}


.summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
  }

  .stats {
    flex-grow: 1;
  }