
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: #282c34;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: white;
}

.App-header h1 {
  font-size: 2rem;
  margin-right: 2rem;
  padding: 0;
}

main {
  display: flex;
  align-items: top;
  justify-content: center;
  color: rgb(9, 1, 35);
  height: calc(100vh - 9rem);
}
.mainContent {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

}


nav {
  flex-grow: 1;
  width: 30em;
  min-width: 30em;
  max-width: 30em;
  border-right: 1px solid #ccc;
  padding-right: 2rem;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  height: 100%;
  overflow: auto;
}

svg {
  margin-right: 2rem;
}

